@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
   
}

.tangerine-bold  {
    font-family: "Tangerine", cursive;
    font-weight: 900;
    font-style: normal;
  }


  .primary-btn {
    font-size: 16px;
    padding: 12px 30px;
    line-height: 24px;
    display: inline-flex;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
    border: 1px solid #000;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    transition: all 0.2s;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4) ;
    color: #fff;
  }
  .primary-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 200%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      border-right 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Add transition for both properties */
    opacity: 0;
    border-right: 2px solid #fff;
    background-color: #000;
  }
  .primary-btn:hover:after {
    right: 100%;
    opacity: 1;
  }
  


